@{
    ViewData["Title"] = "About Us";
}
@section additionalMeta {
    <meta name="keywords" content="About All Jobs japan" />
    <meta name="description" content="About our company, Work in japan, jobs for foreigners">
}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="about-content">
                    <h2 class="medium-title">Corporate philosophy</h2>
                    <p class="desc">
                        AJJ strives to build a win-win-win relationship. A win for our candidate and a win for your company is also a win for us.

                        For Client: We strive to understand your business.
                        We make your business more international by deepening our understanding about your corporate culture and provide you the most crucial asset: talented and energetic foreigner employees. Our Japanese sale team focuses on both of domestic and international enterprises from multi-nationals to start-ups and proposes the most qualified employees for your business across a variety of industries. AJJ aims to provide commitment, integrity and prestige service to your business.

                        For Candidate: We strive to understand our candidate
                        We want to meet our candidates in face-to-face interview to understand more about his/her experience and skills, career goals, job history, and to matching the candidate with the most suitable job. We apply ‘Omotenashi’ (Japanese hospitality) service with freedom, humanity, global mutual understanding, and the future shape of Japan. With more than half of our consultant coming from foreign nationals, AJJ has achieved a truly international working environment that overcoming differences in race, religion and culture. Our multilingual consultants provide detailed explanation to candidates about the jobs in their mother tongue language. We strive to match our candidates to long-term jobs. We aim to accommodate jobs with good working conditions that also support the cost of living in Japan. Always putting ourselves in the position of our foreign candidate.

                        For us: We strive to become the bridge between the Japanese enterprise and foreigner.
                        AJJ mission is to strives to generate a brighter society with talented and energetic foreigners. We will become the leading employment agency for foreign people in Japan by 2020
                    </p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="about-content">
                    <h2 class="medium-title">
                        Our 8 Core Value for users,
                        clients and teammates
                    </h2>
                    <p class="desc">
                        <ol style="list-style:decimal">
                            <li><strong>Fair</strong>: AJJ treats people equally without any favoritisms or discrimination.</li>
                            <li><strong>Diversity</strong>: We respect different perspective and encourage healthy debate.</li>
                            <li><strong>Acceptant</strong>: We keep our open-mindedness and embrace the reasons</li>
                            <li><strong>Supportive</strong>: We are all happy to help and to be helped</li>
                            <li><strong>Positive</strong>: We keep our positive attitude towards situations and bring our positive energy to people</li>
                            <li><strong>Sympathetic</strong>: We strive to understand and to care</li>
                            <li><strong>Passionate</strong>: AJJ is about international human resources for Japan. We strive to be the best at what we choose to do and continue moving forward</li>
                            <li><strong>Innovative</strong>: We are open with new creative ideas that have the potential to improve our performance</li>
                        </ol>
                    </p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>