@{
    ViewData["Title"] = "Company Information";
}
@section additionalMeta {
    <meta name="keywords" content="All Job Japan, Company Information, Job in japan, jobs for foreigners">
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="medium-title">
                @ViewData["Title"]
            </h2>
            <div class="information">
                <div class="contact-datails">
                    <div class="icon">
                        <i class="fa fa-building-o"></i>
                    </div>
                    <div class="info">
                        <h3>Company Name</h3>
                        <span class="detail">All Jobs Japan Co., Ltd.</span>
                    </div>
                </div>

                <div class="contact-datails">
                    <div class="icon">
                        <i class="fa fa-user-o"></i>
                    </div>
                    <div class="info">
                        <h3>CEO</h3>
                        <span class="detail">Naosuke Sugihara</span>
                    </div>
                </div>
                <div class="contact-datails">
                    <div class="icon">
                        <i class="ti-location-pin"></i>
                    </div>
                    <div class="info">
                        <h3>Address</h3>
                        <span class="detail">2-4-5 Shibadaimon Minato-ku Tokyo 105-0012</span>
                    </div>
                </div>

                <div class="contact-datails">
                    <div class="icon">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="info">
                        <h3>Capital</h3>
                        <span class="detail">
                            JPY 9,000,000
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>