@{
    ViewData["Title"] = "JobSavedSuccess";
}
<div class="container">
    <div class="row">
        @await Html.PartialAsync("_AlertPartial")
        <h2>You have Successfully Applied for this job</h2>
    </div>
</div>
