@{
    ViewData["Title"] = "顧客ログイン";
    Layout = "_AnonymousLayout";
}
@section additionalMeta{ 
    <meta name="keywords" content="Post the Jobs" />
    <meta name="description" content="Register to post jobs">
}
<div class="login-form">
    <div class="main-div">
        <h2 class="medium-title">顧客ログイン</h2>
        <div class="row">
            <div class="col-md-6">
                @await Html.PartialAsync("_AlertPartial")
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form id="Login" asp-controller="Account" asp-action="LoginClient" method="post">
                    <div class="form-group">
                        <label for="inputEmail" class="required">Email</label>
                        <input type="text" class="form-control" id="inputEmail" placeholder="ユーザーネームをご入力下さい" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="required">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="パスワード" name="password" required>
                    </div>
                    <div class="forgot">
                        <a asp-controller="Account" asp-action="ForgotPassword">パスワードをお忘れでしょうか？</a><br />
                        <br />
                    </div>
                    <div class="login-button">
                        <button type="submit" class="btn btn-primary">ログイン</button>
                        &nbsp;
                        <a class="btn btn-common" asp-controller="Account" asp-action="RegisterClient">登録</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="login-button">
                </div>
            </div>
        </div>
    </div>
    <p class="botto-text"></p>
</div>