
@{
    ViewData["Title"] = "Register Client Success";
}
<div class="container">
    <h2>Registration has been completed successfully</h2>

    <p>Login to Email and click on confirmation link for verification</p>
    <br />
    <br />
    <h2>登録まであと一歩です。</h2>

    <p>登録したEmail addressへメールを送付しました。URLをクリックし、認証終了後登録完了となります。その後ログイン可能になります。</p>
</div>

