@{
    ViewData["Title"] = "Add Job";
    Layout = "~/Areas/Clients/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("admin"))
{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section>
    <h2 class="medium-title">仕事情報を編集する</h2>
    @await Html.PartialAsync("_AlertMsg")
    <div class="row">
        <div class="col-md-9">
            <form id="registerform" role="form" method="post" asp-area="clients" asp-controller="Job" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]">
                @await Html.PartialAsync("_JobForm")
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button id="editjob" type="submit" class="btn btn-primary">編集を完了する</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- /form -->
        </div>
    </div>
</section>
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        Helper.AutoFillByPostal();
        $('#BusinessstreamID').on('change', function () {
            Helper.GetJobCategory(this, $('#JobTitle')[0]);
        });
    </script>

}