@using Ajj.Areas.Admin.Models
@model SetClientPasswordViewModel
@{
    ViewData["Title"] = "SetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_AnonymousLayout.cshtml";
}
<h4 class="medium-title">新規パスワード作成</h4>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">パスワード</label><span style="color:darkred"> (半角英数字・記号、8文字以上)</span>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">パスワード確認</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-common">保存</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}