@{
    ViewData["Title"] = "Set Password Confirmation";
    Layout = "~/Areas/Admin/Views/Shared/_AnonymousLayout.cshtml";
}

@{
    ViewData["Title"] = "パスワードの登録が完了しました";
}

<h2>@ViewData["Title"]</h2>
<p style="min-height:62vh;">
    <a asp-area="Clients" asp-controller="Job" asp-action="IndexAsync">以下のリンクをクリックし、ログインして下さい。</a>
</p>