@using Ajj.Areas.Clients.Models;
@model ClientAccountViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Areas/Clients/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2 class="medium-title">
        パスワード変更<!--Change Password-->
    </h2>
    
    <form method="post" asp-area="clients" asp-controller="Home" asp-action="ChangePassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (ViewData["message"] != null)
        {
            <div class="row">
                <br />
                <div class="col-md-5">
                    <p class="alert alert-danger">@ViewData["message"]</p>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="OldPassword" class="control-label required">
                        パスワード
                    </label>
                    <input type="password" asp-for="OldPassword" placeholder="" class="form-control">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="Password" class="control-label required">
                        新しいパスワード
                        @*Password*@
                    </label>
                    <input type="password" asp-for="Password" placeholder="" class="form-control">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="ConfirmPassword" class="control-label required">
                        パスワード確認
                        @*Confirm Password*@
                    </label>
                    <input type="password" asp-for="ConfirmPassword" placeholder="" class="form-control">
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-common">
                        保存
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}